
@font-face {
  font-family: 'Conv_ITC Avant Garde Gothic LT Bold';
  src: url('fonts/ITC Avant Garde Gothic LT Bold.eot');
  src: local('☺'), 
    url('fonts/ITC Avant Garde Gothic LT Bold.woff2') format('woff2'),
    url('fonts/ITC Avant Garde Gothic LT Bold.woff') format('woff'),
    url('fonts/ITC Avant Garde Gothic LT Bold.ttf') format('truetype'),
    url('fonts/ITC Avant Garde Gothic LT Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
* { margin: 0; padding: 0; box-sizing: border-box; }
body * {
  font-family: 'Conv_ITC Avant Garde Gothic LT Bold', 'Arial Black', helvetica, arial, sans-serif;
}
.stripe-bg {
  background-image:
    repeating-linear-gradient(-45deg, transparent 1.75px, rgba(128, 128, 128, .25) 2.25px 3.75px, transparent 4.25px 6px);
}

body { display: flex; }
aside {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #ee9a00;
  padding: 2ex 2ch;
  border-right: 6px #000 solid;
  min-width: min-content;
  width: 38.2vw;
  overflow: auto;
  /* overflow: overlay; */
  /* display: grid; */
  text-align: center;
}
main {
  /* max-width: max(980px, 61.8vw); */
  width: 61.8vw;
  height: 100vh;
  padding: 2ex 2ch;
  overflow: auto;
  overflow: overlay;
  flex-grow: 1;
  text-align: center;
  line-height: calc(100vh - 4ex);
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }
  aside {
    border: 0;
    width: 100%;
    position: static;
    height: auto;
  }
  main {
    width: 100%;
  }
}

[class|="sect"] {
  margin: 10px 0;
}

.logo {
  word-break: keep-all;
  white-space: pre;
  user-select: none;
}
.logo span {
  border: 5px #000 solid;
  border-radius: 5px;
  background: #FFF100;
  --size: 4.9rem;
  font-size: var(--size);
  font-family: 'Conv_ITC Avant Garde Gothic LT Bold', 'Arial Black', 'Arial';
  padding: 0 10px;
  line-height: var(--size);
  display: inline-block;
}

#lang-selector {
  margin-bottom: 10px;
}

fieldset {
  padding-top: 10px;
  border: 0;
  border-top: 4px #371b0c dashed;
}
legend {
  padding: 0 .5ex;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

textarea.pui {
  border-radius: 0;
  --bwidth: 4px;
  width: 306px;
  height: 120px;
  font-size: 20px;
  padding: 10px;
}

.sect-bg-color {
  font-weight: bold;
  font-size: 18px;
}
.color-block {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
  --inset-color: transparent;
  filter: drop-shadow(0 0 5px rgb(0 0 0/.5));
  transition: all 40ms ease;
  user-select: none;
}
.color-block:hover {
  filter: drop-shadow(0 0 7px rgb(0 0 0/.75));
  scale: 1.05;
}
.color-block:active {
  filter: drop-shadow(0 0 2px rgb(0 0 0/.5));
  scale: .95;
}

.sect-size > .radio-group {
  display: inline-block;
  text-align: start;
  --mark: '-';
  font-size: 18px;
  font-weight: bold;
}
.sect-size > .radio-group label { cursor: pointer; }
.sect-size > .radio-group input[type='radio'] {
  cursor: pointer;
  vertical-align: middle;
}
.sect-size > .radio-group input[type=number] {
  padding: 2px 2px 1px;
  width: 7ch;
}
.sect-style > button.pui {
  margin-bottom: 6px;
}

details.sect-adv-setting > summary {
  list-style-type: none;
  position: relative;
  user-select: none;
}
details.sect-adv-setting > summary .pui-icon.triangle:first-child {
  position: absolute;
  top: calc(50% - .5625em);
  left: -1ch;
}
details.sect-adv-setting > summary .pui-icon.triangle:not(:first-child) {
  position: absolute;
  top: calc(50% - .5625em);
  right: -1ch;
  translate: none !important;
}
details.sect-adv-setting > summary fieldset {
  width: calc(100% - 2ch);
  display: inline-block;
  padding: 0;
  margin-top: -4px;
  vertical-align: bottom;
}
details.sect-adv-setting > summary::after {
  content: '';
  display: block;
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
  cursor: pointer;
}
details.sect-adv-setting > .content {
  border: dashed #371b0c;
  border-width: 0 .125em .125em;
  width: calc(100% + .5em);
  position: relative;
  left: -.25em;
  /* left: calc(-0.5ch + 0.125em / 2); */
}
details.sect-adv-setting > .content > fieldset {
  border-top-width: 2px;
  padding: 0 .5ch;
}
details.sect-adv-setting > .content > fieldset:first-child {
  margin-top: 0;
}

.icon.pui-btn {
  --inset-color: transparent;
  filter: drop-shadow(0 0 5px rgb(0 0 0/.5));
  transition: all 40ms ease;
  user-select: none;
}
.icon {
  width: 41px; height: 41px;
  display: inline-block;
}
.icon.refresh {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M643.759 876.884c77.46-26.672 141.075-75.755 185.988-137.307a19.72 19.72 0 005.693-17.36 19.44 19.44 0 00-.088-.589l-.01-.049a19.667 19.667 0 00-10.709-14.159l-56.53-40.088a19.77 19.77 0 00-17.265-5.427c-.155.02-.31.042-.464.066l-.072.019a19.825 19.825 0 00-14.149 10.532c-31.44 42.857-75.609 76.947-129.836 95.619-140.801 48.482-293.643-25.746-341.963-166.079s26.422-292.924 167.222-341.406c131.991-45.448 273.616 14.979 330.786 138.05l-89.429.558c-8.995-1.174-17.65 3.91-20.99 12.331a19.656 19.656 0 006.332 23.117l153.694 155.17c3.812 3.848 9.047 5.96 14.475 5.84s10.574-2.461 14.228-6.475l148.171-162.749c6.482-5.349 8.872-14.193 5.961-22.048-.05-.132-.102-.264-.156-.394a19.374 19.374 0 00-1.228-2.599l-.04-.09c-4.015-7.084-11.99-10.968-20.072-9.775l-89.491.945-1.173-3.406c-68.86-199.985-287.86-306.346-488.523-237.252S86.366 439.616 155.226 639.601c68.86 199.985 287.86 306.345 488.523 237.251l.011.033z'/%3E%3C/svg%3E");
  --bg-color: #23AC38;
}
.icon.download {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.5;'%3E%3Cpath d='M8 12l4 4 4-4M7 20H17M12 4V16'/%3E%3C/svg%3E");
  --bg-color: #e4007f;
}
.icon.space-key {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.5;'%3E%3Cpath d='M19 12v4H5v-4'/%3E%3C/svg%3E");
  --bg-color: #FFF100;
}
.icon.pui-btn:hover {
  filter: drop-shadow(0 0 7px rgb(0 0 0/.75));
  scale: 1.05;
}
.icon.pui-btn:active {
  filter: drop-shadow(0 0 2px rgb(0 0 0/.5));
  scale: .95;
}

button[data-preset] {
  margin-bottom: 6px;
}

table {
  margin: auto;
}
table td {
  text-align: start;
  vertical-align: middle;
  padding-right: 1ex;
}
table td:first-child {
  text-align: end;
}
table td:last-child {
  width: 8ch;
  padding-right: 0;
}
input[type=range].pui {
  box-sizing: initial;
  --bcolor: #000;
}

main canvas {
  border: 6px #fff solid;
  border-image: repeating-linear-gradient(45deg, transparent 1.75px, rgba(128, 128, 128, .25) 2.25px 3.75px, transparent 4.25px 6px) 6/6px;
  box-sizing: content-box;
  vertical-align: middle;
}
